{% extends 'base.html' %}
{% block title %} Create a Venue {% endblock %}
{% block body %}
<div class="center">
    <div id="create-venue-div">
        <form method="POST">
            <div class="mx-auto" style="width: 200px;">
                <div class="mb-3" name="profile-photo" style="width: 250px;">
                    <label for="create-venue-logo" class="form-label">Upload a Venue Logo!</label>
                    <input type="file" class="form-control" id="create-venue-logo" name="create-venue-logo"/>

                    <div class="form-floating mb-3" style="width: 250px;">
                        <input class="form-control" id="floatingInput" type="text" name="create-venue-logo" placeholder="Photo URL"/>
                        <label for="floatingInput">Venue Logo URL</label>
                    </div>

                </div>
            </div>
            <div class="mx-auto" style="width: 200px;">
                <div class="col-5 col-md-3 order-md-1">
                    <div class="form-floating mb-3" style="width: 250px;">
                        <input class="form-control"type="text" id="create-venue-name" name="create-venue-name" placeholder="Venue Name"/>
                        <label for="floatingInput">Venue Name</label>
                    </div>
                </div>
                <div class="col-5 col-md-3 order-md-1">
                    <div class="form-floating mb-3" style="width: 250px;">
                        <input class="form-control" type="text" id="create-venue-phone" name="create-venue-phone" placeholder="Main Phone Number"/>
                        <label for="floatingInput">Venue Phone</label>
                    </div>
                </div>
                <div class="col-5 col-md-3 order-md-1">
                    <div class="form-floating mb-3" style="width: 250px;">
                        <input class="form-control" type="text" id="create-venue-payrate" name="create-venue-payrate" placeholder="$ Pay per Hour"/>
                        <label for="floatingInput">$ Rate per Hour</label>
                    </div>
                </div>
                <div class="col-5 col-md-3 order-md-1">
                    <div class="form-floating mb-3" style="width: 250px;">
                        <input class="form-control" type="text" id="create-venue-address" name="create-venue-address" placeholder="Venue Address"/>
                        <label for="floatingInput">Venue Address</label>
                    </div>
                </div>
            <div class="mx-auto" style="width: 200px;">
                <button type="submit" class="btn btn-dark" style="width: 250px;">Create Venue</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}