{% extends 'base.html' %}
{% block title %} Venue Home {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
{% include 'navbar.html' %}
    {% block content %}
    <img src="/static/media/audience.jpg" id="background-photo">

    <div class="container-fluid">
        <div class="row" id="venue-logo-row">
            <div class="card col-6 shadow mt" id="venue-logo-div">
                <div class="card-header" id="upcoming-gigs">
                    <h1>{{ venue_info.venue_name }}</h1>
                    <div value="{{ user_info.band_id }}" id="book-venue-button-div">
                        <a class="btn btn-primary" id="book-venue-button" type="click" href="/bookvenue/{{ venue_info.venue_id }}">Book Venue</a>
                        {% if user_info.venue_id %}
                        <span id="venue"></span>
                        {% else %}
                        <span id="band"></span>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <img class="venue-logo" src="{{ venue_info.venue_logo }}" onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png';">
                </div>
            </div>
            <div class="card col-6 shadow mt" id="upcoming-gigs-row">
                <div class="card-header" id="upcoming-gigs">
                    <h1>Upcoming Gigs:</h1>
                </div>
                    {% for band in bands %}
                    <div class="card-body" style="width:30rem" id="{{ band.gig_id }}" style="background-image: url('{{ band.band_logo }}');">
                        <ul class="list-group-item">
                            <img style="height: 50px;" src="{{ band.band_logo }}">
                            <li class="list-group-item"><b>Band: </b>{{ band.band_name }}</li>
                            <li class="list-group-item"><b>Date: </b>{{ band.gig_date.strftime('%m/%d/%Y') }}</li>
                            <li class="list-group-item"><b>Time: </b>{{ band.gig_date.strftime('%I:%M %p') }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="map-row">
            <div class="card col-12 shadow mt" id="venue-logo-div">
                <div class="card-header">
                    <h1>Location:</h1>
                </div>
                <div class="col-12" id="map-div">
                    <div id="map"></div>
                    <div id='lat' value='{{ response[0]["lat"] }}'></div>
                    <div id='lon' value='{{ response[0]["lon"] }}'></div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- Javascript files imported here. -->
    <script src="/static/js/venuehome.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ apikey }}&callback=initMap" defer></script>
{% endblock %}