@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/*                                                         Giggogo app theme.                                                         */

.theme-style {
    background-color:grey;
}

.btn.btn-dark {
  background-color: rgb(232,163,109);
  border-radius: 20px;
  border-color: black;
  color: black;
}

.btn.btn-primary {
  margin: 30px;
  border-radius: 20px;
  border-color: black;
  background-color: rgb(232,163,109);
  color: black;
}

/*                                                         Navbar styling                                                         */

.nav-item.nav-link.active:hover {
  color: black;
  background-color: white;
  border-color: black;
}

#navbar-logo {
  padding-left: 50px;
  max-width: 200px;
}

.nav-link.dropdown-toggle:hover {
  color: black;
  border-radius: 20px;
  background-color: white;
  border-color: black;
}

/* .navbar-light .navbar-nav .nav-link.active {
  color:white;
} */

/*                                                         Homepage Styling                                                         */

#homepage-logo {
  max-width: 1000px;
  position: absolute;
  top:0;
  bottom: 500px;
  left: 0;
  right: 0;
  margin: auto;
}

#background-photo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#homepage-options {
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

#homepage-signup-button {
  position: absolute;
  margin: 18%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#homepage-login-button {
  position: absolute;
  margin: 18%;
  top: 15%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*                                                         Login Styling                                                         */

#login-div {
  width: 400px;
  height: 400px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

#email-login {
  border-radius: 0px;
  border-color: black;

}

#password-login {
  border-radius: 0px;
  border-color: black;
}

#login {
  border-radius: 20px;
  border-color: black;
  margin: 0%;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*                                                         User Profile Styling                                                         */

.profile-photo {
  max-width: 100%;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 0px;
}

#profile-photo-div {
  display: flex;
  padding-left: 20px;
}

#profile-photo-row {
  padding-right: 20px;
  display: flex;
}

#information-div {
  display: flex;
  padding-left: 0px;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 0px;
  background-color: white;
}

#information-row {
  display: flex;
  padding-left: 30px;
  padding-top: 30px;
}

/*                                                        Band Home Styling                                                    */

/* Band Logo Section */
.band-logo {
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20px;
}
#band-logo-div {
  display: flex;
  padding-left: 50px;
}
#band-logo-row {
  display: flex;
}


/* Band Name Section */
#band-name {
  font-size: 90px;
  padding: 10px;
  text-align: center;
}
#band-name-div {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 25px;
}

/* Band Members Section */
#band-member-card {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20px;
  margin: 20px;
  text-align: center;
}
#member-name {
  font-size: 20px;
}
#band-member-img {
  max-width: 100px;
  max-height: 100px;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20px;
  text-align: center;
}

/* Spotify Section */
#band-spotify {
  background-color: transparent;
}
#band-profile-music-sample {
  background-color: transparent
}
#spotify-preview {
  margin-top: 20px;
  background-color: transparent;
  border: 0px;
}

/* Upcoming Gigs Section */
#upcoming-gigs-div {
  display: flex;
  padding-left: 50px;
}

/*                                                         Venue Home Styling                                                         */

.venue-logo {
  max-width: 100%;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 0px;
}

#venue-logo-div {
  display: flex;
  padding-left: 20px;
}

#venue-logo-row {
  padding-top: 20px;
  display: flex;
}

#profile-info-row {
  display: flex;
  padding-left: 20px;
}

#upcoming-gigs {
  display: flex;
  padding-left: 30px;
  border: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 0px;
  background-color: white;
}

#map {
  height: 400px;
  width: 100%;
  border: 1px;
  border-color: black;
  border-radius: 0px;
}
