@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* Giggogo app theme. */

.theme-style {
    background-color:#FFBE00;
    text-align: center;
}

/* Homepage Styling */

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }