@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/*                                                         Giggogo app theme.                                                         */

.theme-style {
    background-color:grey;
}

.btn.btn-dark {
  background-color: rgb(232,163,109);
  border-radius: 20px;
  border-color: black;
  color: black;
}

.btn.btn-primary {
  margin: 30px;
  border-radius: 20px;
  border-color: black;
  background-color: rgb(232,163,109);
  color: black;
}

/*                                                         Navbar styling                                                         */

#navbar-logo {
  padding-left: 50px;
  max-width: 200px;
}

.nav-link.dropdown-toggle:hover {
  color: black;
  border-radius: 20px;
  background-color: rgb(124, 101, 84);
  border-color: black;
  border-width: 1px;
}

.nav-item.nav-link.active.text-light:hover {
  background-color: rgb(124, 101, 84);
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
}

.dropdown-menu {
  color: black;
}

/*                                                         Homepage Styling                                                         */

#homepage-logo {
  max-width: 1000px;
  position: absolute;
  top:0;
  bottom: 500px;
  left: 0;
  right: 0;
  margin: auto;
}

#background-photo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#homepage-options {
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

/*                                                         Login Styling                                                         */

#login-div {
  width: 400px;
  height: 400px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

/*                                                         Signup + New Band Venue Styling                                                         */

#sign-up {
  margin-top: 15%;
  width: 400px;
  height: 500px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

#new-band {
  width: 500px;
  height: 600px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

#new-venue {
  width: 500px;
  height: 540px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

/*                                                         Band Venue Choice Styling                                                         */


#band-choice {
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

#venue-choice {
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

/*                                                         Find A Band Venue Styling                                                         */


#find-band {
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

#search-div-venue {
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

/*                                                         User Profile Styling                                                         */

.profile-photo {
  max-width: 50%;
  max-height: 50%;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20px;
  object-fit: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
}

#information-row {
  border-radius: 20px;
  background-color: white;
  border-color: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  max-width: 50%;
  max-height: 50%;
}

/*                                                         Edit User Profile Styling                                                         */
#edit-user {
  width: 450px;
  height: 450px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}
/*                                                        Band Home Styling                                                    */

/* Band Logo Section */
.band-logo {
  height: 100%;
  width: 100%;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20px;
  object-fit: cover;
  position: relative;
}
#band-logo-div {
  display: flex;
}

#band-logo-row {
  display: flex;
}

/* Band Name Section */
#band-name {
  font-size: 4vw;
  padding: 10px;
  text-align: center;
}
#band-name-div {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20px;
}

/* Band Members Section */
#band-member-card {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20px;
  margin: 20px;
  width: 10rem;
  display: flex;
  flex-wrap: nowrap;
}

#member-name {
  font-size: 15px;
  text-align: center;

}

#band-member-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-wrap: nowrap;

}

/* Spotify Section */
#band-spotify {
  background-color: transparent;
}

#band-profile-music-sample {
  background-color: transparent
}
#spotify-preview {
  background-color: transparent;
}

/* Upcoming Gigs Section */
#upcoming-gigs-div {
  display: flex;
  border-radius: 20px;
}

#upcoming-gigs {
  border-radius: 20px;

}

#band-page-venue-gigs {
  border-radius: 20px;
  border-color: black;
  background-color: black;
}

/*                                                         Venue Home Styling                                                         */

.venue-logo {
  max-width: 100%;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 0px;
}

#venue-logo-div {
  display: flex;
  padding-left: 20px;
}

#venue-logo-row {
  padding-top: 20px;
  display: flex;
}

#profile-info-row {
  display: flex;
  padding-left: 20px;
}

#upcoming-gigs {
  display: flex;
  padding-left: 30px;
  border: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 0px;
  background-color: white;
}

#map {
  height: 400px;
  width: 100%;
  border: 1px;
  border-color: black;
  border-radius: 0px;
}

/*                                                         Messaging Styling                                                         */
.square-circle.mr-1 {
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  float: left;
}

#message-option {
  display: inline-block;
  padding-top: 20px;
  padding-left: 10px;
}

#message {
  background-color: white;
  color: black;
  margin: 10px;
  width: 300px;
  border-radius: 20px;
  text-align: left;
}

.chat-messages {
  height: 500px;
  overflow-y: scroll;
}

/*                                                         Who are you Styling                                                         */

#band-venue-choice {
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

/*                                                         Gigs Styling                                                         */

#venue-gig-card {
  border-radius: 20px;
  border-color: black;
}

#edit-gig {
  width: 450px;
  height: 450px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}