{% extends 'base.html' %}
{% block title %} Home - {{ band_info.band_name }}{% endblock %}
{% block body %}
{% include 'navbar.html' %}
    {% block content %}
    <img src="/static/media/audience.jpg" id="background-photo">

    <div class="container-fluid">
        <div class="row-6" id="band-logo-row">

            <div class="col" id="band-logo-div">
                <img class="band-logo" src="{{ band_info.band_logo }}">
            </div>

            <div class="row-6" id="band-name-row">
                <div class="col" id="band-name-div">
                    <h1 id="band-name"> {{ band_info.band_name }} </h1>
                </div>

                <div class="col" id="band-profile-info-div">
                    <div class="row" id="band-profile-info-div">
                        {% for member in members %}
                        <div class="card" style="width:10rem" id="band-member-card">
                            <img class="card" id="band-member-img" src="{{ member['member_photo'] }}">
                            <h4 id="member-name">{{ member["member_name"] }}</h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row" id="spotify-row">
                    <div class="col" id="band-profile-music-sample">
                        <div class="card" id="spotify-preview">
                            <div class="card" style="width:48rem" id="band-spotify">
                                <iframe style="border-radius:20px;" src="https://open.spotify.com/embed/artist/{{ band_spotify_ID }}" width="100%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container-fluid">
        <div class="col" id="upcoming-gigs-div">
            <div class="row" id="upcoming-gigs">
                <h1>Upcoming Gigs:
                    <div value="{{ user_info.venue_id }}" id="book-band-button-div" style="width: 730px;">
                        <a class="btn btn-primary" id="book-band-button" type="click" href="/bookband/{{ band_info.band_id }}">Book Band</a>
                        {% if user_info.band_id %}
                        <span id="band"></span>
                        {% else %}
                        <span id="venue"></span>
                        {% endif %}
                    </div>
                </h1>
                {% for venue in venues %}
                <div class="card" style="width:18rem" id="{{ venue.gig_id }}" name="gig-card">
                    <ul class="list-group-item">
                        <li class="list-group-item"><b>Venue: </b>{{ venue.venue_name }}</li>
                        <li class="list-group-item"><b>Date: </b>{{ venue.gig_date.strftime('%m/%d/%Y') }} @ {{ venue.gig_date.strftime('%I:%M %p') }}</li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
    {% endblock %}
    <!-- Javascript files imported here. -->
    <script src="/static/js/bandhome.js"></script>
{% endblock %}