{% extends 'base.html' %}
{% block title %} Home - {{ band_info.band_name }}{% endblock %}
{% block body %}
{% include 'navbar.html' %}
    {% block content %}
    <img src="/static/media/audience.jpg" id="background-photo">
    <meta name="viewport" content="width=device-width, initial-scale=.5" />

    <div class="container-fluid">
        <div class="row-1" id="band-logo-row">

            <div class="col-lg-4" id="band-logo-div">
                <img class="band-logo" src="{{ band_info.band_logo }}">
            </div>

            <div class="container-fluid">
                <div class="row-1" id="band-name-row">

                    <div class="col" id="band-name-div">
                        <h1 id="band-name"> {{ band_info.band_name }} </h1>
                    </div>

                    <div class="container-fluid">
                        <div class="row-1" id="band-name-row">
                            <div class="col" id="band-profile-info-div">
                                <div class="row" id="band-profile-info-div">
                                    <div class="card-group">
                                        {% for member in members %}
                                        <div class="card" id="band-member-card">
                                            <img class="card-img-top" id="band-member-img" src="{{ member['member_photo'] }}">
                                            <h4 class="card-title" id="member-name">{{ member["member_name"] }}</h4>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row-1" id="spotify-row">
                            <div class="col" id="band-profile-music-sample">
                                <div class="card" id="spotify-preview">
                                    <div class="card"  id="band-spotify">
                                        <iframe style="border-radius:20px;" src="https://open.spotify.com/embed/artist/{{ band_spotify_ID }}" width="100%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="row-2" id="upcoming-gigs-div">

            <div class="col-12" id="upcoming-gigs" style="border-radius: 20px; border-color: black;">
                <h1 style="margin-left: 10px; margin-top: 10px;">Upcoming Gigs
                    <div value="{{ user_info.venue_id }}" id="book-band-button-div" style="display:inline-block;">
                        <a class="btn btn-primary" id="book-band-button" type="click" href="/bookband/{{ band_info.band_id }}">Book Band</a>
                        {% if user_info.band_id %}
                        <span id="band"></span>
                        {% else %}
                        <span id="venue"></span>
                        {% endif %}
                    </div>
                </h1>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="col-12" style=" background-color: white;border-radius: 20px; border-color: black; text-align: center;" >
            {% for venue in venues %}
            <div class="card shadow" style="background-image:url('{{ venue.venue_logo }}');width:300px; display: inline-block; margin: 10px; text-align: center; border-radius: 20px; border-color: black;" id="{{ venue.gig_id }}" name="gig-card">
                <div class="card-group" style="border-radius: 20px; display: inline-block; margin: 5px;">
                    <!-- <img style="height: 50px; margin-top: 5px;margin-bottom: 5px;" src="{{ venue.venue_logo }}"> -->
                    <div class="list-group-item" style="border-radius:0px; border-radius: 20px 20px 0px 0px; border-color: black;"><b>Venue: </b>{{ venue.venue_name }}</div>
                    <div class="list-group-item" style="border-radius: 0px;border-color: black;"><b>Date: </b>{{ venue.gig_date.strftime('%m/%d/%Y') }}</div>
                    <div class="list-group-item" style="border-radius: 0px 0px 20px 20px;border-color: black;"><b>Time: </b>{{ venue.gig_date.strftime('%I:%M %p') }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    
    {% endblock %}
    <!-- Javascript files imported here. -->
    <script src="/static/js/bandhome.js"></script>
{% endblock %}