{% extends 'base.html' %}
{% block title %} Band {% endblock %}
{% block body %}
<div class="center">
    <div class="mx-auto" style="width: 200px;">
        <button type="button" class="btn btn-dark" id="findband" name="findband" style="width: 250px;">Find a Band</button>
    </div>
    <div class="mx-auto" style="width: 200px;">
        <button type="button" class="btn btn-dark" id="addband" name="addband" style="width: 250px;">+ Add Band</button>
    </div>

    <!-- Javascript files imported here. -->
    <script src="/static/js/band.js"></script>
</div>
{% endblock %}