{% extends 'base.html' %}
{% block title %} Find a Band {% endblock %}
{% block body %}
<img src="/static/media/audience.jpg" id="background-photo">
<div class="container-fluid" id="find-band">
    <form method="POST" style="margin-top: 70px; margin-left: 37px; margin-right: 30px;">
        <select class="form-select" aria-label="Default select example" id="band-dropdown" name="band-dropdown">
            <option disabled selected>Search Bands</option>
            {% for band in bands %}
            <option value="{{ band.band_id }}"> {{ band.band_name }} </option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-dark" style="width: 150px;">Next</button>
    </form>
</div>
{% endblock %}

