{% extends 'base.html' %}
{% block title %} Home - {{ band_info.band_name }}{% endblock %}
{% block body %}
{% include 'navbar.html' %}
    {% block content %}
    
    <div class="container-fluid">
        <div class="row" id="band-logo-row">
            <div class="col-6" id="band-logo-div">
                <img class="band-logo" src="{{ band_info.band_logo }}" onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png';">
            </div>
            <div class="col-6" id="band-member-div">
                {% for band_member in all_members %}
                <div class="card" style="width:18rem" id="{{ band_member.user_id }}">
                    {% if band_member.user_id == members["member_id"] %}
                    <img class="band-member-img" src="{{ members["member_photo"] }}" onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png';">
                    <h4>{{ members["member_name"] }}</h4>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row" id="upcoming-gigs-row">
            <div class="card" id="upcoming-gigs">
                <h1>Upcoming Gigs:</h1>
                {% for gig in gig_info %}
                <div class="card" style="width:18rem" id="{{ gig.gig_id }}">
                    {% if gig.venue_id == venues["venue_id"] %}
                    <h4>{{ venues["venue_name"] }}</h4>
                    {% endif %}
                    <h4>{{ gig.gig_date }}</h4>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row" id="band-profile-info-row">
            <div class="col-6" id="band-profile-info-div">
                <h1> {{ band_info.band_name }} </h1>
            </div>
        </div>
        <div value="{{ user_info.venue_id }}" id="book-band-button-div">
            <a class="btn btn-primary" id="book-band-button" type="click" href="/bookband/{{ band_info.band_id }}">Book Band</a>
            {% if user_info.band_id %}
            <span id="band"></span>
            {% else %}
            <span id="venue"></span>
            {% endif %}
        </div>
        <!-- <div class="row" id="band-profile-music-sample">
            <div class="col-6" id="band-profile-music-sample-div">
                <div id="spotify-preview">
                    <iframe class="the-rolling-stones" style="border-radius:12px" src="https://open.spotify.com/embed/artist/22bE4uQ6baNwSHPVcDxLCe?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
            </div>
        </div> -->
    </div>
    {% endblock %}
    <!-- Javascript files imported here. -->
    <script src="/static/js/bandhome.js"></script>
{% endblock %}