{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block body %}
{% include 'navbar.html' %}
    {% block content %}
    <img src="/static/media/audience.jpg" id="background-photo">

    <div class="container">
        <div class="row">
            <div class="cold-md-3">
                <form>
                    <div class="card shadow mt"  style="border-radius: 20px; border-color: black;">
                        <div class="card-header">
                            <h5> Search for a Venue 
                                <button type="submit" class="btn btn-primary btn-sm float right" id="search">Search</button>
                                <button type="submit" class="btn btn-primary btn-sm float right" id="clear">Clear All Filters</button>
                            </h5>
                        </div>

                        <div class="card-body">
                            <div class="card">
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Filter by Hourly Rate
                                    </button>
                                </p>
                                <div class="collapse" id="collapseOne">
                                    <div class="card card-body" id="form-check" style="height:100px; overflow-y: scroll;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="low" id="low-payrate" name="payrate">
                                            <label class="form-check-label" for="low-payrate">
                                            $
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="med" id="med-payrate" name="payrate">
                                            <label class="form-check-label" for="med-payrate">
                                                $$
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="medhigh" id="med-high-payrate" name="payrate">
                                            <label class="form-check-label" for="med-high-payrate">
                                                $$$
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="high" id="high-payrate" name="payrate">
                                            <label class="form-check-label" for="high-payrate">
                                                $$$$
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Filter by Genre
                                    </button>
                                </p>
                                <div class="collapse" id="collapseTwo">
                                    <div class="card card-body" id="form-check" style="height:100px; overflow-y: scroll;">
                                        {% for genre in genres %}
                                        <div class="form-check">
                                            <input class="form-check-input genre-select" type="checkbox" value="{{ genre.genre_id }}" id="{{ genre.genre_id }}" name="genre">
                                            <label class="form-check-label" for="{{ genre.genre_id }}">
                                                {{ genre.genre_name }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<br>


    <div class="container">
        <div class="row">
            <div class="cold-md-3">
                <form>
                    <div class="card shadow mt"  style="border-radius: 20px; border-color: black;">
                        <div class="card-header">
                            <h5>Venue Results</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div id="venue-search-result-div">
                                    <!-- JS DOM Manipulation here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- Javascript files imported here. -->
    <script src="/static/js/bandsearch.js"></script>
{% endblock %}