{% extends 'base.html' %}
{% block title %} Edit User {% endblock %}
{% block body %}
{% include 'navbar.html' %}

<img src="/static/media/audience.jpg" id="background-photo">
<div class="container-fluid" id="edit-gig">
    <form class="col-12" action="/editgig/{{gig_id}}" method="POST" class="edit-gig-data-form" name="edit-gig-data-form">

        <div class="row">
            <div class="form-floating mb-3" style="width: 80%;margin-top: 60px;margin-left: 9%;">
                <input class="form-control" id="floatingInput" type="date" name="update-request-date" placeholder="Request Date"/>
                <label for="floatingInput">Date</label>
            </div>
        </div>

        <div class="row">
            <div class="form-floating mb-3" style="width: 80%;margin-left: 9%;">
                <input class="form-control" id="floatingInput" type="time" name="update-request-time" placeholder="Request Time"/>
                <label for="floatingInput">Time</label>
            </div>
        </div>

        <div class="row">
            <div class="form-floating mb-3" style="width: 80%;margin-left: 9%;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                <input class="form-control" id="floatingInput" type="currency" name="update-request-payrate" placeholder="Hourly Payrate"/>
                <!-- <label for="floatingInput">Hourly Payrate</label> -->
                    <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-floating mb-3" style="width: 80%;margin-left: 9%;">
                <select class="form-select" aria-label="gig-completed" id="gig-completed" name="gig-completed" >
                    <option disabled selected></option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                <label for="gig-completed">Gig Completed?</label>
            </div>
        </div>

        <div class="row">
            <div class="form-floating mb-3" style="width: 80%;margin-left: 9%;">
                <select class="form-select" aria-label="gig-paid" id="gig-paid" name="gig-paid">
                    <option disabled selected></option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                <label for="gig-paid">Gig Paid?</label>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-dark" style="width: 80%;margin-left: 9%;">Save</button>
        </div>
    </form>
</div>
{% endblock %}