{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
    <img src="/static/media/audience.jpg" id="background-photo">
    <img src="/static/media/finallogo.png" id="homepage-logo">
        <!-- Overlayed on video. -->
    <div id="homepage-options">
        <button type="button" class="btn btn-primary" id="homepage-signup-button" style="width: 150px;">Sign Up</button>
        <br>
        <button type="button" class="btn btn-primary" id="homepage-login-button" style="width: 150px;">Log In</button>
        </div>
    </div>
    <!-- Javascript files imported here. -->
    <script src="/static/js/homepage.js"></script>
{% endblock %}