{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
    <div class="video-wrapper">
        <video id="background-video" autoplay muted loop poster="">
            <source src="/static/media/guitar.mp4" type="video/mp4">
        </video>
        <!-- Overlayed on video. -->
    <div id="homepage-options">
        <button type="button" class="btn btn-primary" id="homepage-signup-button">Sign Up</button>
        <br>
        <button type="button" class="btn btn-primary" id="homepage-login-button">Log In</button>
        </div>
    </div>
    <!-- Javascript files imported here. -->
    <script src="/static/js/homepage.js"></script>
{% endblock %}