<nav class="navbar navbar-expand-lg navbar-light bg-grey">
  <a class="navbar-brand" href="/">
    <img class="navbar-brand" id="navbar-logo" src="/static/media/finallogo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Profile
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="nav-item nav-link active" href="/user/{{ user_info.user_id }}">My Profile</a>
        <a class="nav-item nav-link active" href="/">Log Out</a>
      </div>
      {% if user_info.venue_id %}
      <a class="nav-item nav-link active" href="/venuehome/{{ user_info.venue_id }}">My Home</a>
      {% else %}
      <a class="nav-item nav-link active" href="/bandhome/{{ user_info.band_id }}">My Home</a>
      {% endif %}
      <a class="nav-item nav-link active" href="/search">Gig Search</a>
    </div>
  </div>
</nav>