{% extends 'base.html' %}
{% block body %}
<div id="create-band-div">Create a band:</div>
<form method="POST">
    <input type="text" id="create-band-name" name="create-band-name" placeholder="Band Name"/>
    <input type="text" id="create-band-phone" name="create-band-phone" placeholder="Main Phone Number"/>
    <input type="text" id="create-band-payrate" name="create-band-payrate" placeholder="$ Rate per Hour"/>
    <input type="file" id="create-band-logo" name="create-band-logo" />
    <div class="mx-auto" style="width: 200px;">
        <button type="submit" class="btn btn-dark" style="width: 250px;">Create Band</button>
    </div>
</form>
{% endblock %}