{% extends 'base.html' %}
{% block title %} My Profile {% endblock %}
{% block body %}
{% include 'navbar.html' %}
    {% block content %}
    <img src="/static/media/audience.jpg" id="background-photo">

    <div class="container-fluid">
        <div class="row-1" id="profile-photo-row">
            <div class="col-12" id="profile-photo-div">
                <img class="profile-photo" src="{{ user_info.profile_photo }}" onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png';">
            </div>
        </div>

        <br>
        <br>

        <div class="row" id="information-div">
            <div class="card" id="information-row" style="padding: 20px;">
                <h3 class="card title">Name: {{ user_info.first_name }} {{ user_info.last_name }}</h3>
                {% if user_info.band_id %}
                <h3 class="card title">Band: {{ band_info.band_name }}</h3>
                {% else %}
                <h3 class="card title">Venue: {{ venue_info.venue_name }}</h3>
                {% endif %}
                <h3 class="card title">Email: {{ user_info.email }}<h3>
                <a href="/edituser" type="submit" class="btn btn-dark" style="display: inline-block;" id="edit-user-data" style="width: 150px;">Edit</a>
            </div>
        </div>

    </div>

    {% endblock %}
    <!-- Javascript files imported here. -->
    <script src=""></script>
{% endblock %}