{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block body %}
<img src="/static/media/audience.jpg" id="background-photo">
<div class="center">
    <form action="/signup" method="POST" class="signup-form" name="signup-form">
        <div class="mx-auto" style="width: 200px;">
            <div class="col-5 col-md-3 order-md-1">
                <div class="form-floating mb-3" style="width: 250px;">
                    <input class="form-control" id="floatingInput" type="text" name="profile-photo" placeholder="Photo URL"/>
                    <label for="floatingInput">Profile Photo URL</label>
                </div>
            </div>
            <div class="col-5 col-md-3 order-md-1">
                <div class="form-floating mb-3" style="width: 250px;">
                    <input class="form-control" id="floatingInput" type="text" name="signup-first-name" placeholder="First Name"/>
                    <label for="floatingInput">First Name</label>
                </div>
            </div>
            <div class="col-5 col-md-3 order-md-1">
                <div class="form-floating mb-3" style="width: 250px;">
                    <input class="form-control" id="floatingInput" type="text" name="signup-last-name" placeholder="Last Name"/>
                    <label for="floatingInput">Last Name</label>
                </div>
            </div>
                <div class="ccol-5 col-md-3 order-md-1">
                <div class="form-floating mb-3" style="width: 250px;">
                    <input class="form-control" id="floatingInput" type="email" name="signup-email" placeholder="Email"/>
                    <label for="floatingInput">Email</label>
                </div>
            </div>
            <div class="col-5 col-md-3 order-md-1">
                <div class="form-floating mb-3" style="width: 250px;">
                    <input class="form-control" id="floatingInput" type="password" name="signup-password" placeholder="Password"/>
                    <label for="floatingInput">Password</label>
                </div>
            </div>
        </div>

        <div class="mx-auto" style="width: 200px;">
            <button type="submit" class="btn btn-dark" style="width: 250px;">Create Account</button>
        </div>
    </form>
</div>
{% endblock %}