{% extends 'base.html' %}
{% block title %} Venue Home {% endblock %}
{% block head %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });
    </script>
{% endblock %}
{% block body %}
{% include 'navbar.html' %}
    {% block content %}
    <img src="/static/media/audience.jpg" id="background-photo">

    <div class="container-fluid">
        <div class="row" id="venue-logo-row">
            <div class="col" id="venue-logo-div">
                <img class="venue-logo" src="{{ venue_info.venue_logo }}" onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png';">
            </div>
        </div>
        <div class="col" id="upcoming-gigs-row">
            <div class="row" id="upcoming-gigs-row">
                <div class="card" id="upcoming-gigs">
                    <h1>Upcoming Gigs:</h1>
                    {% for band in bands %}
                    <div class="card" style="width:18rem" id="{{ band.gig_id }}">
                        <ul class="list-group-item">
                            <li class="list-group-item"><b>Band: </b><br>{{ band.band_name }}</li>
                            <li class="list-group-item"><b>Date: </b><br>{{ band.gig_date }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row" id="venue-profile-info-row">
            <div class="col-6" id="venue-profile-info-div">
                <h1> {{ venue_info.venue_name }} </h1>
            </div>
        </div>
        <div value="{{ user_info.band_id }}" id="book-venue-button-div">
            <a class="btn btn-primary" id="book-venue-button" type="click" href="/bookvenue/{{ venue_info.venue_id }}">Book Venue</a>
            {% if user_info.venue_id %}
            <span id="venue"></span>
            {% else %}
            <span id="band"></span>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    <!-- Javascript files imported here. -->
    <script src="/static/js/venuehome.js"></script>
{% endblock %}