{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block body %}
{% include 'navbar.html' %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="cold-md-3">
                <form>
                    <div class="card shadow mt">
                        <div class="card-header">
                            <h5> Search for a Band <button type="submit" class="btn btn-primary btn-sm float right" id="search">Search</button></h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p class="border-bottom">Hourly Rate ($ to $$$$) </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="low" id="payrate" name="payrate">
                                    <label class="form-check-label" for="low-payrate">
                                      $
                                    </label>
                                  </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="med" id="payrate" name="payrate">
                                    <label class="form-check-label" for="med-payrate">
                                        $$
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="medhigh" id="payrate" name="payrate">
                                    <label class="form-check-label" for="med-high-payrate">
                                        $$$
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="high" id="payrate" name="payrate">
                                    <label class="form-check-label" for="high-payrate">
                                        $$$$
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <p class="border-bottom">Genre </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="low" id="low-payrate" name="payrate">
                                    <label class="form-check-label" for="low-payrate">
                                      Genre...
                                    </label>
                                  </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-9">
                <div class="card shadow mt-4">
                    <div class="card-header"><h5>Bands that fit criteria</h5></div>
                    <div class="card-body">
                        <div class="row">
                            {% for band in all_band_payrates %}
                            <button>
                                <div class="col-md-3">
                                    <div id="band-search-result-div">
                                        <p>{{ band.band_name }}</p>
                                        <img src="{{band.band_logo}}" id="search-image" onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png';">
                                    </div>
                                </div>
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    {% endblock %}
    <!-- Javascript files imported here. -->
    <script src=""></script>
{% endblock %}