{% extends 'base.html' %}
{% block title %} Who Are You? {% endblock %}
{% block body %}
<img src="/static/media/audience.jpg" id="background-photo">
<div class="center">
    <div class="mx-auto" style="width: 200px;">
        <button type="button" class="btn btn-dark" id="band" name="band" style="width: 250px;">Band</button>
    </div>
    <div class="mx-auto" style="width: 200px;">
        <button type="button" class="btn btn-dark" id="venue" name="venue" style="width: 250px;">Venue</button>
    </div>
    
        <!-- Javascript files imported here. -->
        <script src="/static/js/whoareyou.js"></script>
</div>
{% endblock %}