{% extends 'base.html' %}
{% block title %} Who Are You? {% endblock %}
{% block body %}
<img src="/static/media/audience.jpg" id="background-photo">
    <div class="container-fluid" id="band-venue-choice">
        <button type="button" class="btn btn-dark" id="band" name="band" style="width: 150px; margin-top: 70px; margin-left: 37px;" >Band</button>
        <br>
        <br>
        <button type="button" class="btn btn-dark" id="venue" name="venue" style="width: 150px; margin-left: 37px;">Venue</button>
    </div> 
    
        <!-- Javascript files imported here. -->
        <script src="/static/js/whoareyou.js"></script>
{% endblock %}